@import "../../styles/colors.scss";
@import "../../styles/animations.scss";

.surveyResultWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $background;
  .contentWrap {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 800px;
    width: 100%;
    flex-grow: 1;
    padding: 40px;

    &:empty {
      position: relative;
      background-repeat: no-repeat;
      overflow: hidden;
      background-image: linear-gradient(
          to right,
          $disabledBackground,
          $disabledBackground
        ),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground);

      background-position: 40px 40px, 128px 43px, 128px 79px, 128px 115px,
        40px 170px, 40px 265px, 40px 360px;
      background-size: 70px 100px, 500px 30px, 600px 30px, 550px 30px,
        720px 75px, 720px 75px, 720px 75px;

      &::after {
        animation: shimmer 1s infinite;
        content: " ";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(
          to right,
          transparent,
          rgba($white, 0.4),
          transparent
        );
      }
    }
    hgroup {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 16px;
      h2 {
        color: $primaryDark;
        font-size: 28px;
        font-weight: bold;
      }
      .calendarWrap {
        width: 70px;
        margin-right: 16px;
      }
    }

    .answersList {
      list-style: none;
      display: flex;
      flex-direction: column;
      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $white;
        align-items: center;
        padding: 16px;
        border-radius: 8px;
        color: $primaryDark;
        margin-top: 16px;
        &.active {
          border: 2px solid $primaryLight;
        }
        img {
          width: 70px;
          height: 50px;
        }
        .answer {
          flex-grow: 1;
          margin: 0 16px;
          font-size: 20px;
        }
        .percent {
          font-size: 30px;
        }
      }
    }
    button {
      margin-top: 24px;
    }
  }
}
@media only screen and (max-width: 650px) {
  .surveyResultWrap {
    .contentWrap {
      &:empty {
        background-position: 40px 40px, 120px 43px, 120px 77px, 120px 115px,
          40px 170px, 40px 265px, 40px 360px;
        background-size: 60px 100px, 200px 20px, 250px 20px, 225px 20px,
          330px 75px, 330px 75px, 330px 75px;
      }
      hgroup {
        h2 {
          font-size: 20px;
        }
        .calendarWrap {
          width: 60px;
          margin-right: 16px;
        }
      }

      .answersList {
        li {
          img {
            width: 40px;
            height: 40px;
          }
          .answer {
            font-size: 16px;
          }
          .percent {
            font-size: 20px;
          }
        }
      }
      button {
        margin-top: 24px;
      }
    }
  }
}
